:root {
  --basic-green: #849D8F;
  --basic-grey: #9D8B84;
  --basic-blue: #8996A6;
  --basic-white: #FFFFFF;
  --basic-beige: #F8F7F4;
  --basic-black: #323232;
  ;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-green);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

a:hover,
a:focus {
  color: #FFBC9E;
  ;
}

.small {
  font-weight: 400;
}

ul {
  list-style: none;
}

ul.site-nav ul{
display: none;
}


img {
  max-width: 100%;
  height: auto;
}

/* grid */

.page {
  height: 100%;
}

.main-nav {
  display: grid;
  grid-template-columns: minmax(154px, 154px) 1fr min-content;
  line-height: 112%;
  color: var(--basic-white);
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  padding: 5px;
}

.site-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;

}

.nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.user-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 245px;
  margin-top: 15px;
  align-content: space-around;
}


.nav-link:not(.main-header-logo):hover,
.nav-link:not(.main-header-logo):focus {
  color: #ffbc9e;
}

.nav-link {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 114%;
}

.search {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.header-login-link {
  width: 92px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-weight: 500;
}

.cart {
  font-weight: 500;
  width: 100px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

h1 {
  font-size: 60px;
  line-height: 100%;
}

.container {
margin: 0 auto;
padding: 0 10px;
max-width: 1200px;
}

.icecream {
  position: relative;
  left: 15px;
  top: 0px;
  z-index: -1;
}

.name {
  position: absolute;
  left: 385px;
  top: 398px;
  display: flex;
  justify-content: center;
}

.button-main {
  display: flex;
  justify-content: center;
  font-size: 32px;
  line-height: 137%;
  margin: auto;

  position: absolute;
  width: 261px;
  height: 62px;
  left: 650px;
  top: 600px;
}

.button {
  display: flex;
  font-size: 18px;
  line-height: 133%;
  width: 191px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.banners {
  position: absolute;
  width: 1146px;
  height: 229px;
  left: 125px;
  top: 647px;
}

.banners-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 35px;
  line-height: 117%;
}

.banners-item {
  font-size: 18px;
  line-height: 122%;
  padding-left: 20px;
}

.banners-item:last-child {
  margin-left: 50px;
}

.image-raspberry {
  position: absolute;
  left: 40px;
  top: 35px;
  z-index: -1;
  border-radius: 16px;
}

.button-raspberry {
  position: absolute;
  left: 390px;
  top: 200px;
}

.image-chocolate {
  position: absolute;
  left: 635px;
  top: 35px;
  z-index: -1;
  border-radius: 16px;
}

.button-chocolate {
  position: absolute;
  left: 985px;
  top: 200px;
}

.catalog {
position: absolute;
width: 1240px;
height: 324px;
left: 120px;
top: 950px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text {
 font-size: 45px;
 line-height: 100%;
}

.weight {
 font-size: 30px;
 line-height: 117%;
}

.features {
  position: absolute;
  width: 1200px;
  height: 306px;
  left: 160px;
  top: 1500px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  color: var(--basic-black);
}

.image-waffle {
  position: absolute;
  width: 1175px;
  height: 306px;
  left: -10px;
  z-index: -1;
  border-radius: 16px;
}

.features-news {
 font-weight: 500;
 font-size: 24px;
 line-height: 125%;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.features-item {
  padding-right: 40px;
  margin-right: 40px;
  display: flex;
  margin-bottom: 20px;
}

.features-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  padding-bottom: 20px;
}


.box {
  position: absolute;
  width: 1200px;
  height: 306px;
  left: 160px;
  top: 1850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.image-strawberry {
  position: absolute;
  top: 0px;
  left: -10px;
  z-index: -1;
  border-radius: 16px;
}

.box-news {
  padding-left: 5px;
 color: var(--basic-black);
}


.box-blog {
  font-weight: 500;
}


.news {
  text-decoration: underline;
 font-size: 24px;
 line-height: 125%;
}

.box-subscription {
  color: #5a5a5a;
}

.subscription {
  padding-top: 10px;
  padding-left: 20px;
}

.image-post-office {
  position: absolute;
  top: 0px;
  z-index: -2;
}

.image-beige {
  position: absolute;
  top: 5px;
  right: 45px;
  z-index: -1;
}


.email {
  position: absolute;
  right: 181px;
  top: 135px;
  right: 245px;
  width: 320px;
  height: 44px;
  line-height: 150%;
}

.button-form {
  position: absolute;
  top:135px;
  right: 80px;
  width: 130px;
  height: 44px;
}

.map {
  position: absolute;
  top: 2120px;
  width: 1175px;
  left: 150px;
}

.adress {
 font-size: 14px;
 line-height: 143%;
}

.main-adress {
 font-size: 18px;
 line-height: 133%;
}

.main-footer {
  position: absolute;
  top: 2550px;
  left: 200px;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.main-footer {
 font-size: 13px;
 line-height: 138%;
}

.social {
  position: absolute;
  left: -50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.footer-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 12px;
  line-height: 150%;
}

/* каталог */

.icecream-filter {
  line-height: 112%;
}

.filter {
  border: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 112%;
  font-weight: 500;
}

.cream {
  border-radius: 50%;
}

