:root {
  --basic-green: #849D8F;
  --basic-grey: #9D8B84;
  --basic-blue: #8996A6;
  --basic-white: #FFFFFF;
  --basic-beige: #F8F7F4;
  --basic-black: #323232;
  ;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-green);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

a:hover,
a:focus {
  color: #FFBC9E;
  ;
}

.button:hover,
.button:focus {
  color: #FFBC9E;
}

.small {
  font-weight: 400;
}

ul {
  list-style: none;
}

.nav-catalog {
display: none;
}


img {
  max-width: 100%;
  height: auto;
}

/* grid */

.page {
  height: 100%;
}


.main-nav {
  display: grid;
  grid-template-columns: minmax(154px, 154px) 1fr min-content;
  line-height: 112%;
  width: 1200px;
  color: var(--basic-white);
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-logo {
  padding: 5px;
}

.site-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;

}

.nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  width: 245px;
  margin-top: 10px;
}

.nav-icon {
  padding-right: 5px;
}

.nav-link:not(.main-header-logo):hover,
.nav-link:not(.main-header-logo):focus {
  color: #ffbc9e;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 114%;
}

.nav-item:hover .nav-catalog {
  display: block;
}

.search {
  width: 32px;
  height: 32px;
}

.search::after {
  content: "";
  display: block;
  position: relative;
  z-index: -1;
  min-width: 32px;
  height: 32px;
  right: 23px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.header-login-link {
  width: 92px;
  height: 32px;
  font-weight: 500;
}

.header-login-link::after {
  content: "";
  display: block;
  position: relative;
  z-index: -1;
  min-width: 92px;
  height: 32px;
  right: 65px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.cart {
  font-weight: 500;
  width: 100px;
  height: 32px;
}

.cart-icon {
  margin-left: 3px;
}

.cart::after {
  content: "";
  display: block;
  position: relative;
  z-index: -1;
  min-width: 110px;
  height: 32px;
  right: 100px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

h1 {
  font-size: 60px;
  line-height: 100%;
}

.container {
margin: 0 auto;
padding: 0 10px;
 max-width: 1150px;
}

.main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40px;
}

.icecream {
  position: relative;
  z-index: -3;
}

.name {
  position: relative;
  top: -300px;
  margin-bottom: -300px;
}

.button-main {
  display: flex;
  justify-content: center;
  font-size: 32px;
  line-height: 137%;
  margin: 0 auto;
  margin-top: 40px;
}

.button {
  display: inline-flex;
  font-size: 18px;
  line-height: 133%;
  min-width: 191px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
}

.banners-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  font-size: 35px;
  line-height: 117%;
  padding: 0;
}

.banners-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 122%;
  padding: 15px;
  padding-top: 10px;
  box-sizing: border-box;
}


.image-raspberry {
  background-image: url(../img/raspberry-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}

.button-raspberry {
  margin-bottom: 20px;
  margin-left: auto;
}

.image-chocolate {
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}

.button-chocolate {
  margin-bottom: 20px;
  margin-left: auto;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0;
  margin-top: 40px;
}

.text {
 position: relative;
 z-index: 1;
 bottom: 160px;
 margin-bottom: -120px;
}

.taste {
  position: relative;
  bottom: 30px;
  display: inline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.button-choice {
  position: relative;
  justify-content: center;
  align-items: center;
  left: 35px;
  bottom: 20px;
  width: 200px;
  height: 44px;
  text-align: center;
  background: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  display: none;
}


.catalog-item:hover .button-choice {
  display: flex;
}

.catalog-item:focus,
.catalog-item:hover {
 display: block;
 background:rgba(255, 255, 255, 0.2) no-repeat;
 width: 293px;
 height: 400px;
 padding-top: 20px;
 padding-left: 25px;
}

.hit {
  position: relative;
  bottom: 270px;
  left: 20px;
  min-width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #FFFFFF;
}

.text {
 font-size: 45px;
 line-height: 100%;
}

.weight {
 font-size: 30px;
 line-height: 117%;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--basic-black);
  width: 100%;
  background-image: url(../img/waffle-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}


.features-news {
 text-align: justify;
 padding-left: 20px;
 font-weight: 500;
 font-size: 24px;
 line-height: 125%;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 30px;
  padding: 0;
}

.features-item {
  position: relative;
  margin-right: 40px;
  display: flex;
  margin-bottom: 20px;
  padding-left: 65px;
  padding-top: 10px;
}

.features-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: 2px solid var(--basic-black);
  border-radius: 100%;
  background-image: url(../img/icons/icecream-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-item:nth-child(2)::before {
  background-image: url(../img/icons/leaf-icon.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(../img/icons/thermometer-icon.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../img/icons/cow-icon.svg);
}



.features-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  padding-bottom: 20px;
}

.feautures-icon::after {
  content: "";
  min-width: 49px;
  height: 49px;
  border: 2px solid black;
  border-radius: 100%;
}


.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
  box-sizing: border-box;
}

.box-news {
  background-image: url(../img/strawberry-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
  color: var(--basic-black);
  width: 560px;
  height: 220px;
}


.box-blog {
  margin-left: 20px;
  font-weight: 500;
}


.news {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 24px;
  line-height: 125%;
}

.box-subscription {
background-image: url(../img/post-office-background.png);
border-radius: 16px;
width: 560px;
padding: 5px;
box-sizing: border-box;
}

.background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-image: url(../img/beige-background.png);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 548px;
  height: 210px;
  padding: 10px;
  padding-right: 0px;
  color: var(--basic-black);
  box-sizing: border-box;
}


.subscription-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 15px;
}

.email {
  width: 368px;
  height: 44px;
}

.button-form {
  min-width: 130px;
  height: 44px;
}

.contacts {
  position: relative;
  height: 430px;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-window {
  position: absolute;
  right: 20px;
  top: 260px;
  transform: translateY(-50%);
  max-width: 303px;
  color: var(--basic-black);
  background-color: #FEFEFE;
  border-radius: 16px;
  padding: 10px 20px;
}

.contacts-container {
  position: relative;
}

.adress {
 font-size: 14px;
 line-height: 143%;
}

.main-adress {
 font-size: 18px;
 line-height: 133%;
}

.tel {
  display: block;
  padding-bottom: 20px;
}

.contacts-phone {
 color: var(--basic-black);
}

.pin {
  position: relative;
  bottom: 340px;
  left: 290px;
}

.main-footer {
 font-size: 13px;
 line-height: 138%;
 margin-top: 60px;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.footer-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heart {
  position: relative;
  right: 10px;
}


.footer-copyright {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  font-size: 12px;
  line-height: 150%;
}

/* каталог */

.icecream-filter {
  line-height: 112%;
}

.filter {
  border: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  line-height: 112%;
  font-weight: 500;
  margin-top: 80px;
}

.breadcrumbs:first-of-type {
  color: var(--basic-black);
}

.breadcrumbs::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 275px;
  top: 1680px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: var(--basic-white);
}

.cream {
  border-radius: 50%;
}

.icecream-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sort {
  width: 196px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-left: 10px;
  color: var(--basic-white);
}

.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 218px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.fat {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 425px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}


.icecream-filter-button {
  margin-left: 25px;
  margin-top: 15px;
  width: 144px;
  height: 36px;
  border-radius: 20px;
  border: 2px solid #FFFFFF;
  background-color:rgba(255, 255, 255, 0.2);
  color: var(--basic-white);
}

.icecream-filter-button:hover,
.icecream-filter-button:focus {
  color: var(--basic-black);
  background-color: #FFFFFF;
}

.icecream-filter-button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fillers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 711px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.icecream-catalog {
  padding-top: 75px;
}

}
