:root {
  --basic-green: #849D8F;
  --basic-grey: #9D8B84;
  --basic-blue: #8996A6;
  --basic-white: #FFFFFF;
  --basic-beige: #F8F7F4;
  --basic-black: #323232;
  ;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-green);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

a:hover,
a:focus {
  color: #FFBC9E;
  ;
}

.small {
  font-weight: 400;
}

ul {
  list-style: none;
}

ul.site-nav ul{
display: none;
}


img {
  max-width: 100%;
  height: auto;
}

/* grid */

.page {
  height: 100%;
}

.main-nav {
  display: grid;
  grid-template-columns: minmax(154px, 154px) 1fr min-content;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 112%;
  color: var(--basic-white);
}

.site-nav {
  margin: 0;
  padding: 0;
}


.nav-link:not(.main-header-logo):hover,
.nav-link:not(.main-header-logo):focus {
  color: #ffbc9e;
}

.nav-link {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 114%;
}


.header-login-link {
  font-weight: 500;
}

.cart {
  font-weight: 500;
}

h1 {
  font-size: 60px;
  line-height: 100%;
}

.container {
margin: 0 auto;
padding: 0 10px;
}

.button .button-main {
  text-align: center;
  font-size: 32px;
  line-height: 137%;
}

.image {
  border-radius: 16px;
}

.button {
  font-size: 18px;
  line-height: 133%;
}

.banners-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 35px;
  line-height: 117%;
}

.banners-item {
  font-size: 18px;
  line-height: 122%;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text {
 font-size: 45px;
 line-height: 100%;
}

.weight {
 font-size: 30px;
 line-height: 117%;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--basic-black);
}

.features-news {
 font-weight: 500;
 font-size: 24px;
 line-height: 125%;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box-news {
 color: var(--basic-black);
}

.box-blog {
  font-weight: 500;
}

.news {
 font-size: 24px;
 line-height: 125%;
}

.email {
  line-height: 150%;
}

.adress {
 font-size: 14px;
 line-height: 143%;
}

.main-adress {
 font-size: 18px;
 line-height: 133%;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.footer-information {
 font-size: 13px;
 line-height: 138%;
}

.footer-copyright {
 font-size: 12px;
 line-height: 150%;
}

/* каталог */

.icecream-filter {
  line-height: 112%;
}

.filter {
  border: none;
}

.breadcrumbs {
  line-height: 112%;
  font-weight: 500;
}

.cream {
  border-radius: 50%;
}

